<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header.html' %}
</head>
<body>
  {% extends 'base.html'%}
  {% block content %}
  <h1 class="aboutme">About me</h1>
  <h2 class="lorenipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin neque massa, eleifend et lorem vel, sagittis elementum nisi. Nam ornare ex leo, mattis varius lorem congue at. Aenean vulputate nisl in magna laoreet aliquet. Aenean facilisis molestie faucibus. Sed maximus odio eget quam tincidunt laoreet. Nunc at semper velit. Ut enim diam, eleifend sed vestibulum vel, lacinia nec purus. Donec tempus lobortis ligula auctor vestibulum. Donec consequat congue dui in dictum. Cras volutpat metus eu enim iaculis, eget dapibus tortor convallis. Curabitur consequat sem nibh, nec tempus ex ultricies sed. Fusce euismod ultricies rhoncus. Fusce gravida viverra mauris, eu tincidunt massa tempor at. Sed varius malesuada blandit. Aliquam lacinia pretium lorem, vel accumsan neque interdum non.</h2>
{% endblock %}
</body>
</html>