<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simeon's Site</title>

{% include 'header.html' %}
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h1 class="hello">Hello World !!! </h1>
<img src="/static/sami.png" id="sami">
<h2 class="hello">I'm Simeon and I would like to become a professional developer with your help!</h2>
<h2 class="hello">Hire me so we can develop together!💻</h2>
{% endblock %}
</body>
</html>