body {
    background-color: white;
}
h1 {
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img_oil {
    position:fixed;
  margin-left: 1000px;
    width: 30%;
}
.rose{
    position:fixed;
    margin-right: 100px;
    width: 30%;
}
btn {
      margin-left: auto;
      margin-right: auto;
}
h2{
    width:30%;
    margin-top: 50px;
    margin-left: 540px;
    margin-bottom:50px;
}
btn {
    margin-top: 60px;
}
.else {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 540px;
    margin-bottom:50px;
}