<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Welcome to the Cafe & Wifi Site</h1>
    <a href="{{url_for('wifi')}}">Click here for caffes with wifi</a>
    {% for cafe in list_of_cafes %}
    <h2>{{cafe['name']}}</h2>
    <a class="location" href="{{cafe['map_url']}}">location</a>
    <img class="image" src="{{cafe['img_url']}}" width="200", height="100">
    {% endfor %}
</body>
</html>