<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

  <form action="/login" method="post">
      <label> Name:
        <input type="text" name="username" placeholder="name">
      </label>
      <label> Password:
        <input type="text" name="password" placeholder="password">
        <button type="submit">OK</button>
      </label>
  </form>

	<script src="index.js"></script>
  </body>
</html>