{% include 'header.html' %}
<body>
    <h2>Name : {{selected_brew.name}}<br> </h2>
    <h2>Brewery type : {{selected_brew.brewery_type}}<br></h2>
    <h2>Street : {{selected_brew.street}}<br></h2>
    <h2>City : {{selected_brew.city}}<br></h2>
    <h2>State : {{selected_brew.state}}<br></h2>
    <h2>Postal Code : {{selected_brew.postal_code}}<br></h2>
    <h2>Country : {{selected_brew.country}}<br></h2>
    <h2>Longitude : {{selected_brew.longitude}}<br></h2>
    <h2>Latitude : {{selected_brew.latitude}}<br></h2>
    <h2>Phone : {{selected_brew.phone}}<br></h2>
</body>
</html>