<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" name="nav" href="{{url_for('home')}}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if not current_user.is_authenticated: %}
        <li class="nav-item">
          <a class="nav-link " name="nav" href="{{url_for('register')}}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " name="nav" href="{{url_for('login')}}">Login</a>
        </li>
        {% else: %}
        <li class="nav-item">
          <a class="nav-link " name="nav" href="{{url_for('logout')}}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>